# Database Configuration
DATABASE_URL="mysql://user:password@127.0.0.1:3306/nextjs"

# Node Environment
NODE_ENV="development"

# JWT
JWT_SECRET="your-secret-key

SMTP_HOST=smtp.yourprovider.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=you@domain.com
SMTP_PASS=your_password
SMTP_FROM=noreply@domain.com   
NEXT_PUBLIC_APP_URL=https://yourapp.com