# Database Configuration
DATABASE_URL="mysql://user:password@127.0.0.1:3306/nextjs"

# Node Environment
NODE_ENV="development"

# JWT
JWT_SECRET="your-secret-key

SMTP_HOST=smtp.yourprovider.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=you@domain.com
SMTP_PASS=your_password
SMTP_FROM=noreply@domain.com   

MAIL_ENCRYPTION=tls

NEXT_PUBLIC_APP_URL=https://kofc5264.ca

BLOB_READ_WRITE_TOKEN="vercel_blob_rw"

GK_MAIL="[EMAIL_ADDRESS]"